@import "mixins/mixins";
@import "variables/variables";

.esa-sidebar {
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #d5edef;
    max-width: 26rem;

    h4 {
        font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
        line-height: 1.5em !important;
        font-weight: bold;
        margin-top: 0;
    }

    .block-editor-block-list__layout {
        & > * {
            font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
            margin-bottom: 1rem;
        }

        ol,
        ul {
            padding-left: 1.25rem;
        }

        li + li {
            margin-top: 0.5rem;
        }
    }
}

.esa-contacts {
    padding-bottom: 2rem;
    &__header {
        border-bottom: 2px solid $dark-teal;
        margin-bottom: 1.5rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 160px), 1fr));
        gap: 2rem;
    }

    &__card {
        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .linkedin {
                width: 1rem;
            }
        }

        &-meta {
            .region {
                font-style: italic;
                color: $dark-gray;
                font-size: $type-size-150;
                line-height: 1.25em;
            }

            .email {
                a {
                    color: $orange;
                    font-weight: 600;
                    font-size: $type-size-100;
                    text-decoration: underline;
                }
            }
        }
    }
}
