section.about {
    .headline {
        @include section-spacing;
        text-align: center;

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        h1 {
            font-size: clamp(2rem, 5vw, 4.5rem);
            font-weight: 100;
            line-height: 1.125em;
            letter-spacing: 0.02em;
            color: $dark-gray;
    
            em {
                color: $orange;
                font-style: normal;
            }
        }
    }
}