section.featured-projects {
    max-width: 1920px;
    margin: 0 auto;

    .section-header {
        padding-bottom: 1rem;

        h2 {
            color: $dark-gray;
        }
    }

    .slider-wrapper {
        grid-column: 1 / -1;
    }

    .project {
        .info {
            max-width: 1216px;
            width: calc(100% - 4rem);
            margin: 0 auto;
            transform: translateY(-2rem);

            &-wrapper {
                max-width: 800px;
                background: $white;
                padding: 2rem;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
                border-radius: 3px;
            }
        }

        .market {
            padding-bottom: 0.5rem;

            span.label {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.05em;
                
                a {
                    color: $dark-teal;
                }
            }
        }

        .headline {
            h3 {
                line-height: 1em;
                a {
                    color: $black;
                }
            }
        }

        .location {
            padding: 1rem 0 1rem 0;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.05em;
                color: #767676;
            }
        }

        .copy {
            strong {
                font-weight: normal;
            }
        }
    }

    .slick-dots {
        bottom: -3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;

            button:before {
                border-color: $orange;
                position: relative;
                display: block;
                
            }

            &.slick-active {
                button:before {
                    background: $orange;
                }
            }
        }
    }

    .slick-arrow {
        top: 0;
        padding: 0 1rem;
        width: auto;

        @include desktop-small {
            padding: 0 2rem;
        }
    }

    .slick-prev {
        left: 0;

        &:before {
            background-image: url(images/left-arrow-white.svg);
        }
    }

    .slick-next {
        right: 0;

        &:before {
            background-image: url(images/right-arrow-white.svg);
        }
    }
}