.join-us {
    padding-top: 4.5rem;
    z-index: 10;

    @include tablet-small {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 4 / span 8;
    }

    .wrapper {
        border: 1px solid $light-gray;
        background: $white;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        display: grid;
        gap: 2rem;
        align-items: center;

        @include tablet {
            grid-template-columns: 1fr 2fr;
        }
    }

    .photo {
        aspect-ratio: 1 / 1;
        @include cover-fill-image;

        img {
            object-position: top center;
        }
    }

    .section-header {
        .special {
            font-weight: bold;
        }
    }

    .cta {
        padding-top: 2rem;
        display: block;

        .underline {
            color: $orange;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding-bottom: 4px;
            border-width: 2px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
