section.features {
    padding: 3rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .feature {
        display: grid;
        gap: 2rem;
        align-items: center;

        .info {
            .copy {
                padding: 1rem 0;
            }
        }

        & + .feature {
            padding-top: 3rem;

            @include tablet {
                padding-top: 6rem;
            }
        }

        &:nth-child(odd) {
            
            .photo {
                @include tablet {
                    grid-column: 2 / span 3;
                }

                @include desktop-small {
                    grid-column: 2 / span 4;
                }
            }

            .info {
                @include tablet {
                    grid-column: 5 / span 5;
                }

                @include desktop-small {
                    grid-column: 6 / span 8;
                }
            }

        }

        &:nth-child(even) {
            .photo {
                @include tablet {
                    grid-column: 7 / span 3;
                    grid-row: 1;
                }

                @include desktop-small {
                    grid-column: 10 / span 4;
                }
            }

            .info {
                @include tablet {
                    grid-column: 2 / span 5;
                    grid-row: 1;
                }

                @include desktop-small {
                    grid-column: 2 / span 8;
                }
            }

        }

    }
}