.sidebar {
    @include desktop-small {
        padding-top: 3rem;
        grid-column: 10 / span 4;
        padding-left: 1rem;
    }

    a {
        font-weight: normal;
    }

    .vital {
        & + .vital {
            padding-top: 2rem;
        }

        h4 {
            color: $black;
            font-weight: bold;
        }

        p {
            font-size: 0.875em;
            line-height: 1.375em;
        }
    }

    .education-item {
        & + .education-item {
            padding-top: 1.25rem;
        }

        span {
            display: block;
        }
    }

    .contact {
        .links {
            padding-top: 0.5rem;
            display: flex;
            align-items: center;

            .link {
                & + .link {
                    margin-left: 2rem;
                }

                &.email {
                    .small-btn {
                        font-weight: bold;
                        display: inline-block;
                        border-bottom: 2px solid transparent;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        padding-bottom: 0;
                        font-size: clamp(0.75rem, 1vw, 0.875rem);
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            text-decoration: none;
                            border-bottom: 2px solid $dark-teal;
                        }
                    }
                }

                &.linkedin {
                    a {
                        display: block;
                        width: 1.5rem;
                        height: 1.5rem;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }


            }
        }
    }
}
