.sidebar {
    @include desktop-small {
        padding-top: 3rem;
        grid-column: 10 / span 4;
        padding-left: 1rem;
    }

    a {
        font-weight: normal;
    }

    .vital {
        & + .vital {
            padding-top: 2rem;
        }

        h4 {
            color: $black;
            font-weight: bold;
        }

        p {
            font-size: 0.875em;
            line-height: 1.375em;
        }
    }

    .education-item {
        & + .education-item {
            padding-top: 1.25rem;
        }

        span {
            display: block;
        }
    }

    .contact {
        p {
            span {
                display: block;
            }
        }
    }

    .social {
        display: flex;
        align-items: center;

        .link {
            & + .link {
                margin-left: 1rem;
            }

            a {
                display: block;
                width: 1.5rem;
                height: 1.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
