// Primary Colors
$orange: #F9A134;
$cool-gray: #ADAFB2;
$blue: #699CC6;
$teal: #72CCD2;
$dark-teal: #00A69C;

// Secondary Colors
$medium-blue: #00728F;
$dark-blue: #004261;
$light-green: #A0CF67;
$medium-green: #098A5B;
$dark-green: #015E44;

// Tertiary Colors
$light-purple: #9370B1;
$medium-purple: #781D7E;
$dark-purple: #421953;
$dark-orange: #F26531;
$red: #B12533;

// Gray Scale
$white: #fff;
$off-white: #EDEDED;
$light-gray: #DCDDDE;
$medium-gray: #ADAFB2;
$dark-gray: #6D6E71;
$charcoal: #414141;
$black: #000;