@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-UltraLight.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-UltraLight.woff) format('woff');
	font-weight: 100;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-UltraLightItalic.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-UltraLightItalic.woff) format('woff');
	font-weight: 100;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-Light.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-LightItalic.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-LightItalic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue.woff2) format('woff2'),
	     url(fonts/HelveticaNeue.woff) format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-Italic.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-Italic.woff) format('woff');
	font-weight: 400;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-Medium.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-Bold.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue-BoldItalic.woff2) format('woff2'),
	     url(fonts/HelveticaNeue-BoldItalic.woff) format('woff');
	font-weight: 700;
	font-style: italic;
    font-display: swap;
}

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


$raleway: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;