.gallery {
    &__items {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }

    &__item {
        &-image {
            display: flex;
            justify-content: center;
            aspect-ratio: 16 / 9;
            max-width: 12rem;
            margin: 0 auto;

            img {
                filter: grayscale(100%);
                object-fit: contain;
                transition: all 300ms ease;
            }
        }

        &:hover {
            .gallery__item-image {
                img {
                    filter: grayscale(0%);
                }
            }
        }

        &-copy {
            text-align: center;
        }
    }
}
