.graphic {
    .caption {
        padding-bottom: 3rem;
        max-width: 48rem;

        p {
            font-weight: bold;
        }
    }

    .image {
        img {
            margin: 0 auto;
        }
    }
}
