.quote {
    background: $dark-teal;
    color: $white;

    &__icon {
        display: flex;
        justify-content: center;

        @include tablet {
            padding: 0 !important;
            grid-column: 2 / span 2;
        }

        @include desktop-small {
            grid-column: 3 / span 2;
        }

        &-wrapper {
            aspect-ratio: 185 / 167;
            max-width: 6rem;

            @include tablet {
                max-width: 8rem;
            }
        }

        svg {
            display: block;
            opacity: 0.25;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        padding-top: 2rem;

        @include tablet {
            padding: 0 !important;
            grid-column: 4 / span 6;
        }

        @include desktop-small {
            grid-column: 5 / span 8;
        }
    }

    &__text {
        padding: 0;
        margin: 0;

        p {
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            font-weight: 600;
            font-style: italic;
            line-height: 1.375em;
        }
    }

    &__source {
        padding-top: 1rem;
        opacity: 0.7;
    }
}
