.esa-sidebar {
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  background-color: #D5EDEF;
  max-width: 26rem;
}
.esa-sidebar h4 {
  font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
  line-height: 1.5em !important;
  font-weight: bold;
  margin-top: 0;
}
.esa-sidebar .block-editor-block-list__layout > * {
  font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
  margin-bottom: 1rem;
}
.esa-sidebar .block-editor-block-list__layout ol, .esa-sidebar .block-editor-block-list__layout ul {
  padding-left: 1.25rem;
}
.esa-sidebar .block-editor-block-list__layout li + li {
  margin-top: 0.5rem;
}