@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-UltraLight.woff2") format("woff2"), url("fonts/HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-UltraLightItalic.woff2") format("woff2"), url("fonts/HelveticaNeue-UltraLightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Light.woff2") format("woff2"), url("fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("fonts/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue.woff2") format("woff2"), url("fonts/HelveticaNeue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.esa-sidebar {
  background-color: #d5edef;
  width: 100%;
  max-width: 26rem;
  padding: 2rem 2rem 1rem;
}

.esa-sidebar h4 {
  margin-top: 0;
  font-weight: bold;
  font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
  line-height: 1.5em !important;
}

.esa-sidebar .block-editor-block-list__layout > * {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
}

.esa-sidebar .block-editor-block-list__layout ol, .esa-sidebar .block-editor-block-list__layout ul {
  padding-left: 1.25rem;
}

.esa-sidebar .block-editor-block-list__layout li + li {
  margin-top: .5rem;
}

.esa-contacts {
  padding-bottom: 2rem;
}

.esa-contacts__header {
  border-bottom: 2px solid #00a69c;
  margin-bottom: 1.5rem;
}

.esa-contacts__grid {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 160px), 1fr));
  gap: 2rem;
  display: grid;
}

.esa-contacts__card-header {
  justify-content: center;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.esa-contacts__card-header .linkedin {
  width: 1rem;
}

.esa-contacts__card-meta .region {
  color: #6d6e71;
  font-size: clamp(.66rem, .58rem + .48vw, .88rem);
  font-style: italic;
  line-height: 1.25em;
}

.esa-contacts__card-meta .email a {
  color: #f9a134;
  font-size: clamp(.6rem, .52rem + .43vw, .78rem);
  font-weight: 600;
  text-decoration: underline;
}
