@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-UltraLight.woff2") format("woff2"), url("fonts/HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-UltraLightItalic.woff2") format("woff2"), url("fonts/HelveticaNeue-UltraLightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Light.woff2") format("woff2"), url("fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("fonts/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue.woff2") format("woff2"), url("fonts/HelveticaNeue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Neue;
  src: url("fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.editor-styles-wrapper, .editor-styles-wrapper p, .editor-styles-wrapper .wp-block-paragraph {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.5em;
}

.editor-styles-wrapper .has-small-font-size {
  font-size: .875rem !important;
}

.editor-styles-wrapper .has-medium-font-size {
  font-size: 1rem !important;
}

.editor-styles-wrapper .has-large-font-size {
  font-size: 1.25rem !important;
}

.editor-styles-wrapper .has-x-large-font-size {
  font-size: 1.5rem !important;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 {
  line-height: 1.375em;
}

.editor-styles-wrapper h3 {
  font-size: clamp(1.5rem, 2.4vw, 2.25rem);
  font-weight: 700;
}

.editor-styles-wrapper h4 {
  font-size: clamp(1.25rem, 1.75vw, 1.625rem);
  font-weight: normal;
}

.editor-styles-wrapper h5 {
  font-size: clamp(1.375rem, 1.6vw, 1.75rem);
  font-weight: 700;
}

.editor-styles-wrapper ul {
  list-style-type: disc;
}

.editor-styles-wrapper ol {
  list-style-type: decimal;
}

.editor-styles-wrapper ul, .editor-styles-wrapper ol {
  padding-left: 1.5rem;
}

.editor-styles-wrapper ul li + li, .editor-styles-wrapper ol li + li {
  padding-top: .5rem;
}

.esa-sidebar {
  background-color: #d5edef;
  width: 100%;
  max-width: 26rem;
  padding: 2rem 2rem 1rem;
}

.esa-sidebar h4 {
  margin-top: 0;
  font-weight: bold;
  font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
  line-height: 1.5em !important;
}

.esa-sidebar .block-editor-block-list__layout > * {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 1.2vw, 1.125rem) !important;
}

.esa-sidebar .block-editor-block-list__layout ol, .esa-sidebar .block-editor-block-list__layout ul {
  padding-left: 1.25rem;
}

.esa-sidebar .block-editor-block-list__layout li + li {
  margin-top: .5rem;
}

.esa-contacts {
  padding-bottom: 2rem;
}

.esa-contacts__header {
  border-bottom: 2px solid #00a69c;
  margin-bottom: 1.5rem;
}

.esa-contacts__grid {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 160px), 1fr));
  gap: 2rem;
  display: grid;
}

.esa-contacts__card-header {
  justify-content: center;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.esa-contacts__card-header .linkedin {
  width: 1rem;
}

.esa-contacts__card-meta .region {
  color: #6d6e71;
  font-size: clamp(.66rem, .58rem + .48vw, .88rem);
  font-style: italic;
  line-height: 1.25em;
}

.esa-contacts__card-meta .email a {
  color: #f9a134;
  font-size: clamp(.6rem, .52rem + .43vw, .78rem);
  font-weight: 600;
  text-decoration: underline;
}

.esa-experts {
  padding: 2rem 0;
}

.esa-experts .section-header {
  padding-bottom: 1rem;
}

.esa-experts__grid {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 140px), 1fr));
  gap: 2rem;
  display: grid;
}

.esa-experts .profile {
  text-align: center;
}

.esa-experts .profile .photo {
  aspect-ratio: 1;
  max-width: 8rem;
  margin: 0 auto;
}

.esa-experts .profile .photo img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.esa-experts .profile .info {
  padding-top: .5rem;
}

.esa-experts .profile .info h3 {
  font-size: .875rem;
  font-weight: bold;
}

.editor-styles-wrapper .landing-article-columns > .wp-block-column:first-child .block-editor-block-list__layout > * {
  margin-bottom: 1.5rem;
}

.editor-styles-wrapper .landing-article-columns .landing-sidebar h4 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.5em;
  font-size: clamp(1rem, 1.5vw, 1.125rem) !important;
}

.landing-sidebar {
  font-size: .875rem;
}

.landing-sidebar h4 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: bold;
}

.landing-sidebar .module + .module {
  padding-top: 2rem;
}

.landing-sidebar .contacts .contact {
  align-items: center;
  display: flex;
}

.landing-sidebar .contacts .contact + .contact {
  padding-top: .75rem;
}

.landing-sidebar .contacts .contact .photo {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.landing-sidebar .contacts .contact .photo img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.landing-sidebar .contacts .contact .photo .placeholder {
  background: #72ccd2;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}

.landing-sidebar .contacts .contact .info {
  padding-left: .5rem;
}

.landing-sidebar .contacts .contact .info .name {
  font-size: .875rem;
  font-weight: bold;
}

.landing-sidebar .contacts .contact .info .position {
  color: #6d6e71;
  font-size: .75rem;
  font-style: italic;
}

.landing-sidebar .social-share .links {
  gap: 1rem;
  padding-top: .5rem;
  display: flex;
}

.landing-sidebar .social-share .links a {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.landing-sidebar .social-share .links svg {
  width: 100%;
  height: 100%;
}

.editor-styles-wrapper .wp-block-cover.esa-hero-pattern {
  aspect-ratio: 16 / 9;
  min-height: 50vh;
}

.editor-styles-wrapper .wp-block-cover.esa-hero-pattern.alignfull {
  width: auto;
  max-width: none;
  margin-left: calc(-1 * var(--wp--custom--spacing--outer, 0px)) !important;
  margin-right: calc(-1 * var(--wp--custom--spacing--outer, 0px)) !important;
}

.editor-styles-wrapper .wp-block-cover.esa-hero-pattern .wp-block-cover__inner-container {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 40vh;
  padding: 2rem;
  display: flex !important;
}

.editor-styles-wrapper .wp-block-cover.esa-hero-pattern h1, .editor-styles-wrapper .wp-block-cover.esa-hero-pattern h2 {
  text-shadow: 2px 2px 5px #000000a8;
  text-align: left;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  line-height: 1.125em;
}
