.hamburger {
    padding-left: 2rem;

    @include desktop-small {
        display: none;
    }

    a {
        width: 2rem;
        height: 22px;
        display: flex;
        align-items: center;
        margin-left: auto;

        .patty {
            width: 2rem;
            height: 2px;
            background: $dark-gray;
            border-radius: 2px;
            margin-left: auto;
            transition: all 0.2s;

            &:after, &:before {
                content: '';
                display: block;
                width: 2rem;
                height: 2px;
                background: $dark-gray;
                position: absolute;
                z-index: 1;
                border-radius: 2px;
                transition: all 0.2s;
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }
    }
}