.site-header {
    padding: 2rem 0;

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @import 'site-logo';

    @import 'site-nav';

    @import 'site-search';

    @import 'hamburger';
}

@import 'mobile-nav';

@import 'nav-overlay-open';

@import 'search-nav';

@import 'search-overlay-open';