.site-header {
    padding: 2rem 0;
    transition: all 0.3s ease-in;
    background: $white;

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @import 'site-logo';

    @import 'site-nav';

    @import 'site-search';

    @import 'hamburger';
}

@import 'mobile-nav';

@import 'nav-overlay-open';

@import 'search-nav';

@import 'search-overlay-open';

body.show-top-btn {
    @include desktop-small {
        .site-header {
            position: sticky;
            width: 100%;
            top: 0;
            z-index: 100;
            border-bottom: 1px solid $light-gray;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        }
    }
}