.site-header {
    padding: 2rem 0;
    transition: all 0.3s ease-in;
    background: $white;

    @include desktop-small {
        padding: 0;
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @import 'site-logo';

    @import 'site-nav';

    @import 'site-search';

    @import 'hamburger';
}

@import 'mobile-nav';

@import 'nav-overlay-open';

@import 'work-nav';

@import 'search-nav';

@import 'search-overlay-open';

body.show-top-btn {
    @include desktop-small {
        .site-header {
            position: sticky;
            width: 100%;
            top: 0;
            z-index: 100;
            border-bottom: 1px solid $light-gray;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        }
    }
}


// About
.page-template-about,
.parent-pageid-171,
.single-leadership,
.category-employee-owner-spotlight {
    .site-header .site-nav ul li a {
        &.link-about {
            border-bottom-color: $orange;
        }
    }
}

// Join Us
.page-template-join-us,
.parent-pageid-183 {
    .site-header .site-nav ul li a {
        &.link-join-us {
            border-bottom-color: $orange;
        }
    }
}



// Our Work
.single-market,
.single-service,
.post-type-archive-projects,
.post-type-archive-service,
.single-projects {
    .site-header .site-nav ul li a {
        &.link-our-work {
            border-bottom-color: $orange;
        }
    }
}


// News & Ideas
.blog,
.category:not(.category-employee-owner-spotlight),
.single-post {
    .site-header .site-nav ul li a {
        &.link-news-ideas {
            border-bottom-color: $orange;
        }
    }
}


// Contact
.page-template-contact {
    .site-header .site-nav ul li a {
        &.link-contact {
            border-bottom-color: $orange;
        }
    }
}