.mobile-nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -66vw;
    width: 66vw;
    height: 100vh;
    background: $orange;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.35) 0px 8px 16px -8px;
    opacity: 0;

    @include tablet {
        left: -20rem;
        width: 20rem;
    }

	&-wrapper {
		height: 100vh;
		@include scroll-y;
        padding-bottom: 4rem;
	}

    .logo {
        padding: 2rem;

        a {
            display: block;

            img {
                width: 100%;
                max-width: 6.5rem;
            }
        }
    }

    ul {
        li {
            & + li {
                border-top: 1px solid rgba(255, 255, 255, 0.33);
            }

            a {
                display: block;
                padding: 1rem 2rem;
                color: $white;
                font-size: 0.8125rem;
                font-weight: 500;
                letter-spacing: 0.03em;
            }
        }
    }
}