nav.search-nav {
    background: $dark-teal;
    padding: 2rem 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100vw;
    top: -8rem;
    height: 8rem;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;
    opacity: 0;

    form {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
        
        label {
            flex: 1;
            padding-right: 1rem;

            input {
                width: 100%;
                border: none;
                border-radius: 3px;
                padding: 0 0.75rem;
                height: 3rem;
                line-height: 1em;
                color: $black;
                font-size: 1.25rem;
                font-weight: 700;

                &:focus,
                &:active {
                    outline-color: $orange;
                }

                @include placeholder {
                    color: $medium-gray;
                }
            }
        }

        .search-submit {
            background: #414141;
            color: $white;
            border: none;
            border-radius: 3px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            padding: 0 2rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            &:focus,
            &:active {
                outline-color: $blue;
            }
        }
    }
}