nav.search-nav {
    background: $white;
    padding: 2rem 0;
    position: fixed;
    z-index: -1;
    left: 0;
    width: 100%;
    top: -8rem;
    height: 8rem;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid $light-gray;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    opacity: 0;

    @include tablet {
        min-height: 136px;
    }

    form {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
        
        label {
            flex: 1;
            padding-right: 1rem;

            input {
                width: 100%;
                border: 2px solid $dark-gray;
                border-radius: 0;
                padding: 0 0.75rem;
                height: 3rem;
                line-height: 1em;
                color: $dark-gray;
                font-size: clamp(1rem, 1.2vw, 1.25rem);
                font-weight: 500;

                &:focus,
                &:active {
                    outline: none;
                }

                @include placeholder {
                    color: $medium-gray;
                }
            }
        }

        .search-submit {
            background: $dark-teal;
            color: $white;
            border: none;
            border-radius: 0;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            padding: 0 1rem;
            height: 3rem;
            font-weight: 700;
            font-size: clamp(0.875rem, 1vw, 1rem);
            text-transform: uppercase;
            letter-spacing: 0.1em;

            @include tablet {
                padding: 0 2rem;
            }

            &:focus,
            &:active {
                outline-color: $blue;
            }
        }
    }
}