.site-nav {
    display: none;

    @include desktop-small {
        display: block;
        margin-left: auto;
    }

    ul {
        display: flex;
        align-items: center;

        li {

            & + li {
                padding-left: 2rem;

                @include desktop-medium {
                    padding-left: 3rem;
                }
            }

            a {
                color: $dark-gray;
                display: block;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 0.875rem;
                transition: all 0.2s ease-in;

                @include desktop-small {
                    padding: 3.25rem 0;
                    border-top: 0.375rem solid transparent;
                    border-bottom: 0.375rem solid transparent;

                    &:hover,
                    &.active {
                        border-bottom-color: $orange;
                        color: $black;
                    }
                }

                @include desktop-medium {
                    font-size: 1rem;
                }

                &:hover {
                    color: $black;
                }
            }
        }
    }
}


