.work-nav {
    background: #414141;
    color: $white;
    height: 0;
    overflow: hidden;
    opacity: 0.8;
    transition: all 0.2s ease-in;
    grid-column: 1 / -1;

    &.active {
        padding: 3rem 0;
        height: auto;
        overflow: auto;
        opacity: 1;
        z-index: 1000;

        @include tablet {
            padding: 6rem 0;
        }
    }

    a {
        color: $white;

        &:hover {
            color: $dark-teal;
        }
    }

    .nav-section-header {
        padding-bottom: 1.5rem;

        @include desktop-small {
            padding-bottom: 3rem;
        }
    }

    .nav-header {
        font-size: clamp(1.5rem, 2vw, 2.25rem);
        font-weight: 700;
        line-height: 1.25em;
    }

    .markets {
        @include tablet {
            grid-column: 2 / span 4;
        }
        @include desktop-small {
            grid-column: 2 / span 4;
        }

        .link {
            & + .link {
                padding-top: 1.5rem;
            }

            a {
                display: inline-block;
                font-size: clamp(1.125rem, 1.25vw, 1.5rem);
                font-weight: 300;
            }
        }
    }

    .services {
        padding-top: 4rem;

        @include tablet {
            grid-column: 6 / span 4;
            padding-top: 0;
        }

        .link {
            padding-bottom: 1.5rem;

            a {
                font-size: clamp(1.125rem, 1.2vw, 1.25rem);
                display: flex;
                align-items: center;
                line-height: 1.25em;

                .label {
                    display: block;
                    padding-left: 1rem;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    width: 1.5rem;
                }

                svg {
                    g,
                    path,
                    rect {
                        transition: all 0.2s ease;
                    }
                }

                &:hover {
                    svg {
                        g,
                        path,
                        rect {
                            fill: $dark-teal;
                        }
                    }
                }
            }
        }

        @include desktop-small {
            grid-column: 7 / span 7;

            .links {
                columns: 2;
                column-gap: 2rem;

                .link {
                    break-inside: avoid;
                }
            }
        }
    }

    .projects,
    .clients {
        .cta {
            .btn {
                padding: 0;
                border: none;
            }
        }
    }

    .projects {
        padding-top: 4rem;
    }

    .clients {
        padding-top: 2rem;
    }

    @media screen and (max-height: 1024px) and (min-width: 768px) {
        //background: red;

        &.active {
            padding: 3rem 0;
        }

        .nav-section-header {
            padding-bottom: 1.5rem;
        }

        .markets {
            .link {
                & + .link {
                    padding-top: 1rem;
                }

                a {
                    font-size: clamp(1rem, 1vw, 1.125rem);
                }
            }
        }

        .services {
            .link {
                padding-bottom: 1rem;

                a {
                    font-size: clamp(1rem, 1vw, 1.125rem);
                }
            }
        }

        .cta {
            .btn {
                font-size: clamp(0.875rem, 1vw, 1rem);
            }
        }
    }
}
