.making-waves-body {
    padding: 4rem 1.25rem 6rem;
    position: relative;


    &:before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        max-height: 50vh;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-repeat: no-repeat;
        background-position: top center;;
        background-size: 100%;
    }
}