.sign-up-form {
    position: relative;
    z-index: 1;
    max-width: 30rem;
    margin: 0 auto;
    background: #fff;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 4px 27px -5px, rgba(0, 0, 0, 0.15) 0px 2px 16px -8px;

    .field {
        & + .field {
            padding-top: 2rem;
        }

        label {
            display: block;
            font-weight: bold;
            padding-bottom: 0.5rem;
        }

        input[type='text'],
        input[type='email'] {
            width: 100%;
            color: #666;
            padding: 0.75rem;
            height: auto;
            border: 1px solid #eaeaea;
            border-radius: 2px;
            background: #fafafa;
        }
    }

    .other-list {
        display: flex;

        input {
            display: block;
            margin-top: 6px;
        }
        
        label {
            padding-left: 0.5rem;
            font-size: clamp(0.875rem, 0.9vw, 1rem);
            line-height: 1.25em;
            font-weight: normal;
            font-style: italic;
        }
    }

    .submit {
        button {
            color: $white;
            background: #1193BA;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.1em;
            padding: 1rem 1.5rem 0.875rem;
            border: 2px solid $white;
            font-size: clamp(1rem, 1.2vw, 1.25rem);
            transition: all 0.3s ease-in;
    
            @include tablet {
                padding: 1.5rem 2rem 1.375rem;
            }


        }
    }
}