.making-waves-header {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 3rem 1.25rem 0;

    .headline {
        h1 {
            font-weight: 100;
            color: $teal;
            padding-bottom: 1rem;
        }
    
        h2 {
            font-weight: 100;
            color: $medium-blue;
        }
    }
    
    .copy {
        padding-top: 2rem;
        font-style: italic;
    }
}