.market-info {
    padding: 6rem 0;

    .about {
        @include tablet {
            grid-column: 5 / span 5;
        }

        @include desktop-small {
            grid-column: 6 / span 8;
        }

        .sub-markets,
        .services {
            h4 {
                font-weight: bold;
                margin: 0;
                padding-bottom: 0.5rem;
            }

            ul {
                li {
                    padding-bottom: 0.25rem;
                }
            }
        }        
    }

    .market-lead {
        text-align: center;
        padding-top: 3rem;

        @include tablet {
            padding-top: 0;
            grid-row: 1;
            grid-column: 2 / span 3;
        }

        @include desktop-small {
            grid-column: 2 / span 4;
        }
    }
}