.market-info {
    padding: 6rem 0;

    .about {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
        }

        .sub-markets,
        .services {
            h4 {
                font-weight: bold;
                margin: 0;
                padding-bottom: 0.5rem;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }

        .services {
            @include desktop-small {
                padding-top: 1.5rem;
            }
        }
    }

    .market-leaders {
        @include desktop-small {
            padding-top: 3rem;
        }
    }

    .leader-grid {
        display: grid;
        gap: 2rem;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 6rem;
        }

        @include desktop-small {
            grid-template-columns: repeat(4, 1fr);
        }

        /*      .leader:first-of-type {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
            //background: rgba($teal, 0.2);

            .photo {
                max-width: 24rem;
            }
            .photo img {
                //border: 0.5rem solid $teal;
            }

            .info a {
                //color: $teal;
            }
        }
        */
    }
}
