.more-projects.legacy {
    background: $off-white;
    padding: 4rem 0 3rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .section-header,
    .more-projects-slider-wrapper {
        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }

    .project {
        width: calc(50% - 1rem);
        margin: 0 1rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        background: $charcoal;
        border-radius: 3px;
        transition: all 0.2s ease;

        a {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .photo {
            aspect-ratio: 1 / 1;
            @include cover-fill-image;

            @include tablet-small {
                aspect-ratio: 4 / 3;
            }

            img {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }

        .info {
            color: $white;
            padding: 2rem;

            a {
                color: $white;

                &:hover {
                    color: $white;
                }
            }

            .market {
                padding-bottom: 0.5rem;
                h4 {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.05em;
                    font-size: clamp(0.75rem, 0.9vw, 0.875rem);
                }
            }

            .location {
                padding-top: 1rem;

                h4 {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    font-size: clamp(0.6125rem, 0.8vw, 0.75rem);
                }
            }
        }

        &:hover {
            background: $orange;
        }
    }
}
