.programs {
    @include section-spacing;

    &__headline {
        padding-bottom: 2rem;

        .section-headline {
            font-weight: normal;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: 1rem;
    }

    &__item {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    &__photo {
        a {
            display: block;
            aspect-ratio: 380 / 176;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        background: #414141;
        height: 100%;
        align-items: center;
        display: flex;

        a {
            font-size: $type-size-400;
            font-weight: bold;
            display: block;
            color: $white;
            padding: 1.5rem;
        }
    }
}
