section.scholarship {

    .headline {
        padding-bottom: 1rem;
    }

    .photo {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 7;
        }
    }

    .copy {
        @include tablet {
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            grid-column: 9 / span 5;
        }
    }

    ul {

        li {
            a {
                text-decoration: underline;
            }
            em {
                font-size: 0.8125em;
            }
        }
    }
}