section.scholarship {
    margin-top: 3rem;
    @include section-spacing;
    background: #DDF0E4;

    .photo {
        @include tablet {
            grid-column: 7 / span 3;
            grid-row: 2;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
        }

        img {
            max-width: 24rem;
            margin: 0 auto;
        }
    }

    .copy {
        padding-top: 2rem;

        @include tablet {
            padding-top: 0;
            grid-column: 2 / span 5;
            grid-row: 2;
        }

        @include desktop-small {
            grid-column: 2 / span 7;
        }

        p:first-of-type {
            font-size: 1.125em;
        }
    }

    ul {

        li {
            a {
                text-decoration: underline;
            }
            em {
                font-size: 0.8125em;
            }
        }
    }
}