.archived-posts.search-results {

    .search-form-wrapper {
        background: #EDEDED;
        grid-column: 1 / -1;
        padding: 3rem 0;

        @include desktop-small {
            padding: 4rem 0;
        }
    }

    form {
        display: flex;
        align-items: center;

        @include desktop-small {
            grid-column: 2 / span 9;
        }

        label {
            display: block;
            width: 100%;
            padding-right: 1rem;

            input {
                width: 100%;
                border: none;
                border-radius: 3px;
                padding: 0 0.75rem;
                height: 3rem;
                line-height: 1em;
                color: $black;
                font-size: clamp(1.25rem, 1.6vw, 1.5rem);
                font-weight: 700;

                @include tablet {
                    height: 4rem;
                }

                &:focus,
                &:active {
                    outline-color: $orange;
                }

                @include placeholder {
                    color: $medium-gray;
                }
            }
        }

        .search-submit {
            background: $dark-teal;
            color: $white;
            border: none;
            border-radius: 3px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            padding: 0 2rem;
            height: 3rem;
            font-weight: 700;
            font-size: clamp(1rem, 1.4vw, 1.25rem);
            text-transform: uppercase;
            letter-spacing: 0.1em;

            @include tablet {
                height: 4rem;
                padding: 0 3rem;
            }

            &:focus,
            &:active {
                outline-color: $blue;
            }
        }
    }


    .results-count {
        padding-top: 3rem;

        p {
            display: inline-block;
            color: $medium-gray;
            font-weight: bold;
            font-size: clamp(1.375rem, 1.8vw, 1.675rem);
        }
    }
}