.search-results-list {
    padding-top: 3rem;
    min-height: 50vh;

    @include tablet {
        padding-top: 6rem;
    }

    @include desktop-small {
        grid-column: 2 / span 12;
    }

    article {
        & + article {
            margin-top: 3rem;
            border-top: 1px solid $off-white;
            padding-top: 3rem;
        }

        .info {
            @include desktop-small {
                max-width: 75%;
            }

            .type {
                padding-bottom: 0.5rem;

                h5 {
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-weight: bold;
                    color: $dark-gray;
                    font-size: clamp(1rem, 1.2vw, 1.125rem);
                }
            }

            .headline {
                h4 {
                    br {
                        display: none;
                    }
                    
                    a {
                        color: $black;

                        &:hover {
                            text-decoration: none;
                            color: $dark-teal;
                        }
                    }
                }
            }

            .copy {
                padding-top: 1rem;

                em.date {
                    display: block;
                    color: $dark-gray;
                }
            }

            .cta {
                padding-top: 2rem;

                a.underline {
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    letter-spacing: 0.1em;
                }
            }
        }

        &.service {
            .content {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                width: 200px !important;
            }

            svg, g {
                fill: $medium-blue;
            }
        }
    }

    .no-results {
        .info {
            padding: 0;
            width: 100%;
        }
    }


}