.search-results-list {
    padding-top: 3rem;
    min-height: 50vh;

    @include tablet {
        padding-top: 6rem;
    }

    @include desktop-small {
        grid-column: 2 / span 10;
    }

    article {
        @include tablet-small {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 2fr;
            align-items: center;
        }

        & + article {
            margin-top: 3rem;
            border-top: 1px solid $off-white;
            padding-top: 3rem;
        }

        .photo {
            @include aspect-ratio(4, 3);

            a, img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            .type {
                padding-bottom: 0.5rem;

                h5 {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $dark-teal;
                }
            }

            .headline {
                h4 {
                    a {
                        color: $black;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .copy {
                padding-top: 1rem;
            }

            .cta {
                padding-top: 2rem;

                a.underline {
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    letter-spacing: 0.1em;
                }
            }
        }

        &.service {
            .content {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                width: 200px !important;
            }

            svg, g {
                fill: $medium-blue;
            }
        }
    }

    .no-results {
        .info {
            padding: 0;
            width: 100%;
        }
    }


}