.job-listings {
    padding: 3rem 0 6rem 0;

    &__header {
        padding-bottom: 1.5rem;
        h3 {
            font-weight: bold;
            font-size: $type-size-500;
        }
    }

    &__filters {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;

        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    &__filter {
        height: 2rem;
    }

    &__clear {
        &-link {
            color: $dark-gray;
            transition: all 200ms ease;

            &:hover {
                color: $orange;
                text-decoration: underline;
            }
        }
    }

    &__list {
        padding-top: 3rem;
        min-height: 25vh;
        display: grid;
        gap: 2rem;

        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .no-results {
        padding: 2rem;
        border: 2px dashed $light-gray;
        border-radius: 0.25rem;
        align-self: start;
    }
}

.practice-header {
    padding-bottom: 1rem;
    h3 {
        font-weight: bold;
        font-size: $type-size-500;
    }
}

.hr {
    height: 1px;
    width: 100%;
    background: #eee;

    &:last-of-type {
        display: none;
    }
}

.job-listing {
    &__title {
        font-weight: bold;
        padding-bottom: 0.5rem;
        font-size: $type-size-400;

        a:hover {
            text-decoration: underline;
        }
    }

    &__meta {
        font-size: $type-size-150;
        color: $dark-gray;
    }

    .divider {
        color: $dark-teal;
        padding: 0 0.25rem;
    }
}
