.mission {
    background: $dark-teal;

    @include desktop-small {
        grid-column: 2 / span 6;
    }

    &__link {
        padding: 3rem;
        display: block;
    }

    &__logo {
        width: 8rem;
        height: 8rem;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__copy {
        padding-top: 1rem;
        color: $white;
    }
}
