.rich-links {
    margin-top: 1rem;
    gap: 1rem 2rem;

    @include desktop-small {
        gap: 1rem;
        grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 5.5rem)) minmax(0, auto);
    }

    &__grid {
        display: grid;
        gap: 1rem;
        @include tablet {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include desktop-small {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &__link {
        display: grid;
        align-items: center;
        height: 100%;
        padding: 2rem;
        background: #d4eff4;
        color: $black;
        gap: 1rem;
    }

    &__title {
        font-weight: bold;
        font-size: $type-size-300;
    }

    &__cta {
        font-size: $type-size-100;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
    }
}
