.spotlight {
    display: grid;
    gap: 1rem;

    @include tablet {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include desktop-small {
        grid-column: 8 / span 6;
    }

    &__link {
        display: grid;
        height: 100%;

        &:hover {
            .spotlight__caption {
                background: rgba($orange, 0.8);
            }
        }
    }

    &__photo {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        @include cover-fill-image;
    }

    &__caption {
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        align-self: end;
        background: rgba($black, 0.7);
        color: $white;
        padding: 0.75rem;
        transition: all 200ms ease;
    }
}
