.projects-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @include tablet {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include desktop-small {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .project {
        width: unset;
        margin: unset;
    }
}
