.service-info {
    .about {
        @include tablet {
            grid-column: 2 / span 6;
        }

        @include tablet {
            grid-column: 2 / span 9;
        }

        .copy-2 {
            background: $white;
            z-index: 10;
            padding: 1rem 1rem 0 1rem;

            @include tablet {
                padding: 2rem 2rem 1rem 2rem;
            }
        }

        &__main {
            margin-top: -3rem;

            @include tablet {
                margin-top: -6rem;
            }
        }

        .sub-services {
            padding: 0 1rem 3rem 1rem;

            @include tablet {
                padding: 0 2rem 3rem 2rem;
            }

            h4 {
                font-weight: bold;
                margin: 0;
                padding-bottom: 1rem;
            }

            ul {
                list-style-type: disc;
                margin-left: 1.25rem;

                li {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }

    &__gallery {
        padding: 0 1rem 0 1rem;

        @include tablet {
            padding: 0 2rem 1rem 2rem;
        }

        &-caption {
            padding: 1rem 0 0 0.5rem;

            p {
                font-size: 0.875rem;
                line-height: 1.25em;
                font-style: italic;
            }
        }
    }

    .related {
    }
}
