section.fun-traditions {
    @include section-spacing;

    .section-header {
        text-align: center;

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        .deck {
            padding-top: 2rem;
        }
    }

    .tradition {
        .photo {
            aspect-ratio: 4 / 3;
            @include cover-fill-image;
        }

        .info {
            padding-top: 1rem;

            .headline {
                padding-bottom: 0.5rem;

                h4 {
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 1.125rem;
                }
            }
        }
    }
}
