.site-footer {
    padding: clamp(4rem, 5vh, 8rem) 0;
    color: $white;
    background: #414141;

    a {
        color: $white;

        &:hover {
            color: $orange;
        }
    }
    @import 'nav';
 
    @import 'utilities';
}

@import 'sign-up';