section.featured-posts {
    padding-bottom: 3rem;

    @include tablet {
        padding-bottom: 4rem;
    }

    .featured-grid {
        display: grid;
        gap: 2rem;
        grid-column: 1 / -1;
        grid-template-areas: 
        "featured-1" 
        "featured-2"
        "featured-3";

        @include tablet {
            grid-column: 2 / span 8;
            grid-template-areas: 
            "featured-1 featured-1" 
            "featured-2 featured-3"
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .news-item {
        .info {
            padding: 1rem;
            margin-top: -4rem;

            @include desktop-small {
                padding: 2rem;
            }

            &__wrapper {
                padding: 1.5rem;
                background: $white;

                @include desktop-small {
                    padding: 2rem;
                }
            }
        }
    }

    .featured-1 {
        grid-area: featured-1;

        .info__wrapper {
            @include tablet {
                max-width: 75%;
            }            
        }
    }

    .featured-2 {
        grid-area: featured-2;
    }

    .featured-4 {
        grid-area: featured-3;
    }
}