body.blog {
    @import 'featured-posts';
    
    .post-list {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        .news-grid {
            display: grid;
            gap: 4rem 2rem;

            @include tablet-small {
                grid-template-columns: repeat(2, 1fr);
            }

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .news-item {
            .info {
                padding-top: 1rem;
            }

            .cta {
                padding-top: 1rem;
            }
        }
    }
}