body.blog {
    .post-list {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        article + article {
            margin-top: 3rem;
        }
    }
}