body.blog,
body.category {
    .page-header {
        h4.sub-head {
            display: inline-block;
            color: $medium-gray;
            font-weight: bold;
            font-size: clamp(1.125rem, 1.4vw, 1.25rem);
            padding-bottom: 0.5rem;          
        }
    }
    @import 'featured-posts';
    
    .post-list {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        .news-grid {
            display: grid;
            gap: 4rem 2rem;

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include desktop-small {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .news-item {
            .info {
                padding-top: 1rem;
            }

            .cta {
                padding-top: 1rem;
            }
        }
    }
}