body.single-post {
    
    article.post {
        padding-top: 3rem;

        @include desktop-small {
            padding-top: 6rem;
        }
    }

    .article-header {
        padding-bottom: 3rem;
    }
}