body.single-post {
    .article-header {
        .featured-image {
            grid-column: 1 / -1;
            aspect-ratio: 16 / 12;
            @include cover-fill-image;
            grid-row: 1;
            max-height: 95vh;

            @include desktop-small {
                aspect-ratio: 16 / 7;
            }

            @include desktop-medium {
                aspect-ratio: unset;
                max-height: 90vh;
                width: 100%;
            }
        }

        .info {
            grid-row: 1;
            z-index: 10;
            align-self: center;

            @include tablet {
                align-self: end;
                transform: translateY(calc(-5vh - 2rem));
            }

            @include desktop-small {
                grid-column: 2 / span 10;
                transform: translateY(calc(-10vh - 2rem));
            }
        }

        .post-title {
            color: $white;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.66);
            font-weight: 700;
            font-size: clamp(2rem, 4vw, 3rem);
            line-height: 1.125em;

            @include tablet {
                font-size: clamp(3rem, 5vw, 4.5rem);
            }

            &.no-shadow {
                text-shadow: none;
            }
        }
    }

    .article-body {
        align-items: start;

        .copy {
            background: $white;
            padding: 2rem;
            margin-top: -5vh;
            z-index: 10;

            @include tablet {
                grid-column: 2 / span 6;
            }

            @include desktop-small {
                grid-column: 2 / span 8;
                margin-top: -10vh;
            }

            .alignleft {
                float: left;
                margin: 0 2rem 2rem 0;
            }

            .alignright {
                float: right;
                margin: 0 0 2rem 2rem;
            }

            .blue-callout {
                float: right;
                max-width: 430px;
                background-color: #d5edef;
                margin: 20px 0 20px 20px;
                padding: 30px;

                h6 {
                    font-size: clamp(1.25rem, 1.75vw, 1.625rem);
                    line-height: 1.7em;
                }
            }
        }

        .sidebar {
            padding-top: 5vh;
            font-size: clamp(1rem, 1.5vw, 1.125rem);
            line-height: 1.5em;
            padding: 0 2rem 6rem 2rem;

            @include tablet {
                grid-column: 8 / span 2;
                padding: 0 0 3rem 0;
                padding-top: 7.5vh;
                border-bottom: 4px double $teal;
            }

            @include desktop-small {
                grid-column: 10 / span 3;
            }

            h4 {
                font-weight: bold;
            }

            p {
                font-size: clamp(0.75rem, 1vw, 0.875rem);
            }

            a {
                font-weight: normal;

                &:hover {
                    text-decoration: underline;
                }
            }

            .module {
                & + .module {
                    padding-top: 3rem;
                }
            }

            .categories {
                p {
                    font-weight: bold;
                }
            }

            .authors {
                h4 {
                    padding-bottom: 0.5rem;
                }

                .author {
                    display: flex;
                    align-items: center;

                    & + .author {
                        padding-top: 1rem;
                    }

                    .photo {
                        aspect-ratio: 1 / 1;
                        @include cover-fill-image;
                        width: 2.5rem;
                        height: 2.5rem;

                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            border-radius: 50%;
                        }

                        .placeholder {
                            display: block;
                            background: $teal;
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                        }
                    }

                    .info {
                        padding-left: 0.5rem;

                        p {
                            font-weight: bold;

                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .social-share {
                .links {
                    padding-top: 0.5rem;
                    display: flex;
                    align-items: center;

                    .link {
                        & + .link {
                            margin-left: 1.5rem;
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                svg {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;

                    g,
                    path {
                        fill: $light-gray;
                        transition: all 0.2s ease;
                    }

                    &:hover {
                        g,
                        path {
                            fill: $dark-teal;
                        }
                    }
                }
            }
        }

        .wp-block-group {
            &.sidebar {
                padding: 2rem 2rem 1rem 2rem;

                @include tablet {
                    float: right;
                    max-width: 50%;
                    margin: 0 0 2rem 2rem;
                    font-size: 0.875em;
                }
            }

            &__inner-container {
                & > * {
                    margin-bottom: 1rem;
                }
            }
        }

        .wp-element-caption {
            font-size: $type-size-150;
            line-height: 1.375em;
            color: $dark-gray;
            font-style: italic;
            padding-bottom: 1rem;
        }
    }

    .article-footer {
        padding-bottom: 3rem;
        padding-left: 1.5rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        @include desktop-medium {
            padding-left: 3rem;
        }
    }
}
