section.history {
    background: $off-white;
    padding: 6rem 0;

    .deck {
        padding: 2rem 0;
    }

    .caption {
        padding-top: 2rem;
    }

    .copy-2 {
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }
}