.copy {
    &-1 {
        font-size: clamp(1.375rem, 1.4vw, 1.625rem);
        line-height: 1.5em;

        &.extended {
            & > * {
                margin-bottom: 2rem;
            }
        }
    }

    &-2 {
        font-size: clamp(1rem, 1.2vw, 1.125rem);
        line-height: 1.5em;

        &.extended {
            & > * {
                margin-bottom: 2rem;
            }
        }
    }

    &-3 {
        font-size: clamp(0.875rem, 0.9vw, 1rem);
        line-height: 1.375em;

        &.extended {
            & > * {
                margin-bottom: 1rem;
            }
        }
    }

    &-1,
    &-2,
    &-3 {
        a {
            color: $dark-teal;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        &.extended {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                line-height: 1.375em;
            }

            h1 {
                font-weight: 800;
                font-size: clamp(3rem, 5vw, 4rem);
            }

            h2 {
                font-size: clamp(2.5rem, 3vw, 3rem);
                font-weight: 700;
            }

            h3 {
                font-weight: 700;
                font-size: clamp(1.5rem, 2.4vw, 2.25rem);
            }

            h4 {
                font-weight: normal;
                font-size: clamp(1.25rem, 1.75vw, 1.625rem);
            }

            .section-headline {
                font-size: clamp(2.5rem, 3vw, 3rem);
            }

            h5 {
                font-size: clamp(1.375rem, 1.6vw, 1.75rem);
                font-weight: 700;
                margin-bottom: 0.75rem;
                padding-top: 1rem;
            }

            h6 {
                font-weight: normal;
                font-size: clamp(1.25rem, 1.75vw, 1.625rem);
            }

            ul {
                list-style-type: disc;
            }

            ol {
                list-style-type: decimal;
            }

            ul,
            ol {
                padding-left: 1.5rem;

                li {
                    & + li {
                        padding-top: 0.5rem;
                    }

                    p + p {
                        padding-top: 1rem;
                    }
                }
            }
        }

        .wp-caption-text {
            font-size: $type-size-150;
            line-height: 1.375em;
            color: $dark-gray;
            font-style: italic;
            padding: 0.75rem 0 2rem;
        }
    }
}
