.copy {

	&-1 {
		font-size: clamp(1.375rem, 1.4vw, 1.625rem);
		line-height: 1.5em;
	}

	&-2 {
		font-size: clamp(1rem, 1.1vw, 1.125rem);
		line-height: 1.5em;
	}

	&-3 {
		font-size: clamp(0.875rem, 0.9vw, 1rem);
		line-height: 1.5em;
	}

	&-1,
	&-2,
	&-3 {
		a {
			color: $dark-teal;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}

		&.extended {
			& > * {
				margin-bottom: 2rem;
			}
		}
	}

}