.section-header {
    padding-bottom: 3rem;

    h2 {
        font-weight: 700;
        font-size: clamp(3rem, 3.4vw, 3.75rem);
        line-height: 1.125em;

        &.special {
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.1em;
            font-size: clamp(1.125rem, 1.2vw, 1.25rem);
        }
    }
}

.page-title {
    color: $black;
    font-weight: 700;
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    line-height: 1.125em;
}

.title-headline {
    font-size: clamp(1.75rem, 2vw, 2.25rem);
    font-weight: 700;
    line-height: 1.25em;

    &.small {
        font-size: clamp(1.375rem, 1.5vw, 1.75rem);
    }

    &.x-small {
        font-size: clamp(1.25rem, 1.4vw, 1.5rem);
    }
}

.section-headline {
    font-size: clamp(2.5rem, 3vw, 3rem);
    font-weight: 700;
    line-height: 1.25em;

    &.small {
        font-size: clamp(2rem, 2.5vw, 2.75rem);
    }

    &.x-small {
        font-size: clamp(1.75rem, 2vw, 2.25rem);
    }
}
