.section-header {
	padding-bottom: 3rem;


	h2 {
		font-weight: 700;
		font-size: clamp(3rem, 3.4vw, 3.75rem);
		line-height: 1.125em;
	}
}

.title-headline {
	font-size: clamp(1.75rem, 2vw, 2.25rem);
	font-weight: 700;
	line-height: 1.25em;
}