body,
button,
input,
select,
optgroup,
textarea {
	font-family: $raleway;
}

a {
	color: $dark-teal;
	transition: all 0.2s ease;
}

::-moz-selection {
	background: $orange;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $orange;
	color: $white;
	text-shadow: none;
}

@import "headings";

@import "copy";