html {
    scroll-behavior: smooth;
}

body {
    background: $white;
    overflow-x: hidden;
}

.site-header,
.site-content,
.site-footer {
    transition: all 0.2s ease;
}

@include desktop-small {
    .site-content > * {
        scroll-margin-top: 133px;
    }
}

img[src$='.svg'] {
    width: 100%;
}

@import 'grid';

@import 'sub-grid';

@import 'three-col-grid';
