html {
    scroll-behavior: smooth;
}

body {
    background: $white;
    overflow-x: hidden;

    &.overflow-hidden {
        overflow: hidden;
    }
}

.site-header,
.site-content,
.site-footer {
    transition: all 0.2s ease;
}

@include desktop-small {
    .site-content > * {
        scroll-margin-top: 133px;
    }
}

img[src$=".svg"] {
    width: 100%;
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.alignright,
figure.alignright {
    float: right;
    margin: 0 0 1em 1em !important;
}

div.alignleft,
figure.alignleft {
    float: left;
    margin: 0 1em 1em 0 !important;
}

div.aligncenter,
figure.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@import "grid";

@import "sub-grid";

@import "three-col-grid";
