.three-col-grid {
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);

    @include tablet-small {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop-small {
        grid-template-columns: repeat(3, 1fr);
    }
}