body.post-type-archive-client {
    .client-tabs {
        nav.clients-nav {
            display: flex;
            align-items: center;

            .link {
                & + .link {
                    padding-left: 1.5rem;

                    @include tablet {
                        padding-left: 4rem;
                    }
                }

                a {
                    color: $black;
                    font-weight: bold;
                    font-size: clamp(1rem, 1.3vw, 1.125rem);
                    padding-bottom: 0.25rem;
                    border-bottom: 4px solid transparent;

                    @include tablet {
                        font-size: clamp(1.25rem, 2vw, 1.5rem);
                    }

                    &:hover,
                    &.active {
                        border-color: $orange;
                    }
                }
            }
        }
    }

    .client-type {
        display: none;
        padding: 3rem 0;

        @include tablet {
            padding: 6rem 0;
            min-height: 60vh;
        }

        &.active {
            display: grid;
        }

        .client-list {
            display: grid;
            align-content: start;
            gap: 1.5rem 2rem;

            @include tablet-small {
                grid-template-columns: repeat(2, 1fr);
            }

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            @include desktop-small {
                grid-template-columns: repeat(4, 1fr);
            }

            .client {
                @include desktop-small {
                    padding-right: 4rem;
                }

                .name {
                    position: relative;
                    line-height: 1.25em;
                    font-size: clamp(0.75rem, 1vw, 0.875rem);
                }

                &.has-projects {
                    .name {
                        border-bottom: 1px dotted rgba(0, 166, 156, 0.75);
                        &:after {
                            position: absolute;
                            bottom: 0.275rem;
                            right: -1.25rem;
                            content: "";
                            display: inline-block;
                            width: 0.875rem;
                            height: 0.375rem;
                            background: url("data:image/svg+xml,%3Csvg width='22px' height='13px' viewBox='0 0 22 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='4' fill='none' fill-rule='evenodd'%3E%3Cg id='down-svgrepo-com' transform='translate(1.000222, 1.000278)' stroke='%2300A69C' stroke-width='4'%3E%3Cpolyline id='Path' transform='translate(10.085739, 5.173763) scale(-1, 1) rotate(91.000000) translate(-10.085739, -5.173763) ' points='5.08573898 -4.82623746 15.085739 5.17376254 5.08573898 15.1737625'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0;
                            background-size: contain;
                            opacity: 0;
                            transition: all 0.2s ease;
                        }

                        &:hover {
                            cursor: pointer;
                            &:after {
                                opacity: 1;
                            }
                        }

                        &.active {
                            border: none;

                            &:after {
                                opacity: 1;
                                transform: rotate(180deg) translateY(1px);
                            }
                        }
                    }
                }
            }

            .projects {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                display: none;

                .project {
                    display: grid;
                    grid-template-columns: 1.25rem 1fr;

                    &:before {
                        content: ">>";
                        color: $dark-teal;
                        font-weight: bold;
                        font-size: 0.75rem;
                    }

                    & + .project {
                        margin-top: 1em;
                    }
                }

                a {
                    color: $dark-teal;
                    font-weight: bold;
                    display: inline-block;
                    line-height: 1.125em;
                    font-size: clamp(0.75rem, 1vw, 0.875rem);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
