body.post-type-archive-client {

    .jump-links {
        padding-bottom: 4rem;

        nav.clients-nav {
            display: flex;
            align-items: center;
            background: $dark-teal;
            padding: 1rem 2rem;

            span.header {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                display: block;
                padding-right: 2rem;
                color: $white;
            }

            .link {
                & + .link {
                    padding-left: 2rem;
                }

                a {
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .region {
        padding: 8rem 0;

        &:nth-child(odd) {
            background: $off-white;
        }


        
        .section-header {
            display: flex;
            align-items: center;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 7rem;
                height: 7rem;

                .svg {
                    display: block;
                    max-width: 6.5rem;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 90%;
                    height: 90%;
                    background: $dark-blue;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 1;
                }

                svg {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: auto;
                      
                }
            }

            .label {
                padding-left: 2rem;

                h3 {
                    font-weight: bold;
                    font-size: clamp(1.5rem, 3vw, 2rem);
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
            }
        }

        .client-list {
            border-top: 1px solid $medium-blue;
            padding-top: 2rem;
            display: grid;
            gap: 1rem 2rem;

            @include tablet-small {
                grid-template-columns: repeat(2, 1fr);
            }
            
            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            .link {
                @include desktop-small {
                    padding-right: 4rem;
                }
            }

            a {
                color: $medium-blue;
                display: inline-block;
                line-height: 1.125em;
                
                &:hover {
                    text-decoration: underline;
                }
            }
    
        }
    }
    
}