body.page-template-contact {

    .site-content {
        .section-header {
            padding-top: 3rem;
            border-top: 4px double $teal;      
        }
    }



    
    section.offices {
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        .office {
            .headline {
                padding-bottom: 0.25rem;
                
                h4 {
                    font-weight: bold;
                    font-size: clamp(0.875rem, 0.9vw, 1rem);
                }
            }


        }
    }

}