body.page-template-esop {


    section.features {
        padding: 0 0 3rem 0;

        @include desktop-small {
            padding: 3rem 0 6rem 0;
        }

        .deck {
            padding-top: 1rem;

            @include desktop-small {
                grid-column: 2 / span 8;;
            }
        }
        
        .sub-features {
            padding-top: 3rem;
            display: grid;
            gap: 2rem;

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
            }
        }

        .sub-feature {
            .headline {
                padding-bottom: 0.5rem;
                h3 {
                    font-weight: bold;
                    color: $black;
                }
            }
        }
    }

    section.whats-an-esop {
        padding-bottom: 3rem;

        @include desktop-small {
            padding-bottom: 6rem;
        }

        .info {
            background: $off-white;
            padding: 2rem;

            @include desktop-small {
                padding: 4rem;
                grid-column: 8 / -1;
            }
        }

        .headline {
            padding-bottom: 1rem;
        }

        .deck {
            max-width: 575px;
        }
    }

    section.benefits {
        padding-bottom: 6rem;
    }

}