body.page-template-home {
    @import "home/about";

    @import "home/employee-owner-spotlight";

    @import "home/join-us";

    @import "home/featured-project";

    @import "home/news-and-ideas";
}