.page-template-internship {
    .page-header {
        .headline {
            @include desktop-small {
                grid-column: 2 / span 10;
            }
        }

        .copy-1 {
            @include desktop-small {
                padding-bottom: 0;
            }
        }

        .cta {
            padding-top: 0;

            @include desktop-small {
                align-self: end;
            }
        }
    }

    .testimonial {
        padding: 3rem 0;

        @include desktop-small {
            grid-column: 2 / span 12;
        }
        &__slide {
            &-wrapper {
                width: 100%;
                display: grid;
                background: $charcoal;
                color: $white;

                @include tablet {
                    grid-template-columns: repeat(2, minmax(auto, 1fr));
                }

                @include desktop-small {
                    grid-template-columns: 2fr 1fr;
                }
            }
        }

        &__photo {
            aspect-ratio: 1 / 1;
            @include cover-fill-image;
        }

        &__quote {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;

            @include desktop-small {
                padding: 4rem;
            }
        }

        &__text {
            font-size: $type-size-400;
            font-weight: bold;
            line-height: 1.375em;
        }

        &__source {
            padding-top: 1rem;
            font-size: $type-size-200;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1.5em;
            letter-spacing: 0.05em;
        }
    }

    .what-to-expect {
        background: $off-white;
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0;
        }

        .photo {
            padding-bottom: 2rem;

            @include desktop-small {
                padding-bottom: 0;
                grid-row: 2;
                grid-column: 8 / span 6;
            }
        }

        .copy-2 {
            @include desktop-small {
                grid-row: 2;
                grid-column: 2 / span 6;
            }
        }
    }

    .how-to-apply {
        padding: 6rem 0;

        .info {
            @include desktop-small {
                grid-column: 2 / span 8;
            }
        }

        .photo {
            aspect-ratio: 16 / 9;
            @include cover-fill-image;
            margin-bottom: 2rem;
        }

        .study-areas {
            background: $medium-blue;
            color: $white;
            padding: 2rem;
            margin-top: 2rem;
            max-width: 32rem;

            @include desktop-small {
                grid-column: 10 / span 4;
                margin-top: 0;
            }

            .headline {
                padding-bottom: 1rem;

                h3 {
                    font-size: $type-size-400;
                    font-weight: bold;
                    line-height: 1.25em;
                }
            }
        }
    }
}
