body.page-template-jedi {
    @import "jedi/page-header";

    @import "jedi/plan";

    @import "jedi/gallery";

    @import "jedi/looks-like";

    @import "jedi/quote";

    @import "jedi/programs";
}
