body.page-template-jedi-legacy {
    @import "jedi-legacy/page-header";

    .left-flow {
        .photo {
            @include tablet {
                grid-row: 2;
                grid-column: 2 / span 3;
                padding-right: 1rem;
            }

            @include desktop-small {
                grid-column: 2 / span 5;
                padding-right: 2rem;
            }
        }

        .copy {
            padding-top: 2rem;
            @include tablet {
                padding-top: 0;
                grid-row: 2;
                grid-column: 5 / span 5;
            }

            @include desktop-small {
                grid-column: 7 / span 7;
            }
        }
    }

    @import "jedi-legacy/ongoing-education";

    @import "jedi-legacy/outreach-and-internship";

    @import "jedi-legacy/scholarship";

    @import "jedi-legacy/statement";

    section.news {
        padding-top: 0;

        @include desktop-small {
            padding-bottom: 8rem;
        }
    }

    //@import 'jedi-legacy/timeline';
}
