body.page-template-leadership,
body.page-template-leadership-sub-group {
    @import 'leadership/page-header';

    @import 'leadership/sub-nav';

    @import 'leadership/grid';

    @import 'leadership/gallery';
}
