body.page-template-leadership {

    section.leaders {
        padding-bottom: 6rem;
    }

    .leadership-group {

        & + .leadership-group {
            padding-top: 6rem;
        }



    }

    .leaders-grid {
        display: grid;
        gap: 2rem 4rem;
        grid-template-columns: repeat(1, 1fr);

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem 6rem;
        }


        .leader {
            a {
                display: block;
            }

            .photo {
                img {
                    border-radius: 50%;
                }
            }

            .info {
                padding-top: 1rem;
                text-align: center;

                .name {
                    h3 {
                        font-weight: bold;
                        color: $black;
                        font-size: clamp(1rem, 1vw, 1.125rem);
                    }
                }

                .position {
                    padding-top: 0.5rem;

                    p {
                        color: $black;
                        font-size: clamp(0.75em, 1vw, 0.875rem);
                        line-height: 1.25em;
                        font-style: italic;
                    }
                }
            }
        
        }
    }

}