body.page-template-leadership {

    .leaders-grid {
        display: grid;
        gap: 2rem 4rem;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 3rem 0;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem 6rem;
            padding: 3rem 0 6rem 0;
        }


        .leader {
            a {
                display: block;
            }

            .photo {
                img {
                    border-radius: 50%;
                }
            }

            .info {
                padding-top: 1rem;
                text-align: center;

                .name {
                    h3 {
                        font-weight: bold;
                        color: $black;
                        font-size: clamp(1rem, 1vw, 1.125rem);
                    }
                }

                .position {
                    padding-top: 0.5rem;

                    p {
                        color: $black;
                        font-size: clamp(1rem, 1vw, 1.125rem);
                    }
                }
            }
        
        }
    }

}