body.page-template-newsletter {

    section.contact-form {
        padding: 0 0 3rem 0;

        @include tablet {
            padding: 0 0 6rem 0;
        }
        
        .headline {
            padding-top: 3rem;
            border-top: 4px double $teal;      
        }

        .copy {
            padding: 1rem 0 2rem 0;

            @include desktop-small {
                grid-column: 2 / span 8;
            }
        }

        .form-embed {
            @include desktop-small {
                grid-column: 2 / span 8;
            }

            fieldset > div {
                margin-top: 0.25rem;
            }
        }
    }

}