body.page-template-default {
    .page-header {
        @include desktop-small {
            padding-top: 4rem;
        }
    }

    .default-page {
        padding-bottom: 6rem;

        .copy {
            @include desktop-small {
                grid-column: 2 / span 9;
            }

            h1, h2, h3, h4, h5, h6 {
                font-weight: bold;
            }
    
            & > h1,
            & > h2, 
            & > h3,
            & > h4, 
            & > h5,
            & > h6 {
                margin-bottom: 0.5rem;    
            }
    
            h1 {
                font-size: clamp(1.5rem, 3vw, 2rem);
            }
    
            h2 {
                font-size: clamp(1.375rem, 2vw, 1.625rem);
            }
    
            h3 {
                font-size: clamp(1.125rem, 1.5vw, 1.375rem);
            }

            h4 {
                font-size: clamp(1rem, 1.2vw, 1.125rem);
            }
    
            h5 {
                font-size: clamp(0.875rem, 1vw, 1rem);
            }
    
            h6 {
                font-size: clamp(0.75rem, 0.9vw, 0.875rem);
            }
        }      
    }
}