body.service-template-platforms {
    section.platforms-cta {
        padding: 3rem 0;

        .cta {
            padding: 2rem;
            background: $dark-teal;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            padding-right: 2rem;
            font-size: clamp(1.125rem, 1.25vw, 1.25rem);
            line-height: 1.25em;
        }

        .btn {
            color: $white;
            line-height: 1.25em;
            font-size: clamp(0.875rem, 1vw, 1rem);

            &:hover {
                background: $white;
                color: $dark-teal;
            }
        }
    }

    section.platforms {
        gap: 2rem;
        padding: 3rem 0;

        @include desktop-small {
            padding: 6rem 0;
        }

        .section-header {
            padding-bottom: 0;
        }
    }

    .platform {
        &:nth-child(even) {
            @include tablet {
                grid-column: 2 / span 4;
            }

            @include desktop-small {
                grid-column: 2 / span 6;
            }
        }

        &:nth-child(odd) {
            @include tablet {
                grid-column: 6 / span 4;
            }

            @include desktop-small {
                grid-column: 8 / span 6;
            }
        }

        .info {
            padding: 1rem;
            margin-top: -4rem;

            @include desktop-small {
                padding: 2rem;
            }

            &__wrapper {
                padding: 1.5rem;
                background: $white;
                box-shadow: 0 0 1rem rgba($black, 0.1);

                @include desktop-small {
                    padding: 2rem;
                }
            }
        }

        .copy {
            padding-top: 0.5rem;
        }

        .cta {
            padding-top: 1rem;

            .btn {
                font-size: clamp(0.875rem, 1vw, 1rem);
            }
        }
    }
}
