.single-market {
    .page-header {
        .parent-market {
            padding-bottom: 1rem;
        }
    }

    @import "single-market/featured-projects";

    @import "single-market/market-info";

    @import "single-market/more-projects";
}
