body.single-employee {

    section.profile {
        padding-bottom: 6rem;
        text-align: left;
    }

    @import 'single-employee/hero';

    @import 'single-employee/biography';

    @import 'single-employee/sidebar';
}