body.single-service {

    @import 'single-service/hero';

    @import 'single-service/service-info';

    @import 'single-service/experts';

    @import 'single-service/featured-projects';

    @import 'single-service/news';
}