body.single-office {
    section.map {
        .acf-map {
            grid-column: 1 / -1;
            width: 100%;
            height: 800px;
            max-height: 70vh;
            img {
                max-width: inherit !important;
            }

            .photo {
                aspect-ratio: 4 / 3;
                @include cover-fill-image;
                width: 24rem;

                img {
                    width: 100%;
                    max-width: 100% !important;
                }
            }

            .info {
                padding-top: 1rem;

                .name {
                    h2 {
                        font-weight: bold;
                    }
                }

                .address {
                    padding-top: 0.5rem;
                    max-width: 10rem;
                }
            }
        }
    }
}
