body.single-projects {
    @import "single-projects/hero";

    @import "single-projects/overview";

    @import "single-projects/about";

    @import "single-projects/gallery";

    @import "single-projects/experts";

    @import "single-projects/testimonial";

    @import "single-projects/details";

    @import "single-projects/similar-projects";
}
