body.single-employee {

    section.profile {
        padding-bottom: 6rem;
        text-align: left;
    }

    .employee-hero {
        padding-top: 3rem;

        .photo {
            grid-column: 1 / -1;
            grid-row: 1;
            @include cover-fill-image
        }

        .page-header {
            grid-row: 1;
            z-index: 2;
            display: flex;
            padding: 0 0 1rem 0;

            @include desktop-small {
                padding-bottom: 3.5rem;
            }

            .page-title {
                color: $white;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                align-self: flex-end;
                font-size: clamp(1.75rem, 2vw, 2.25rem);

                @include desktop-small {
                    font-size: clamp(3.5rem, 4vw, 4.5rem);
                    max-width: 48rem;
                }
            }
        }
    }

    .biography {
        background: $white;
        padding: 2rem 0;

        @include desktop-small {
            grid-column: 2 / span 8;
            transform: translateY(-3em);
            padding: 2rem ;
        }
    }



    .sidebar {
        @include desktop-small {
            padding-top: 3rem;
            grid-column: 10 / span 4;
            padding-left: 1rem;
        }

        a {
            font-weight: normal;
        }

        .vital {
            & + .vital {
                padding-top: 2rem;
            }

            h4 {
                color: $black;
                font-weight: bold;
            }
        }

        .position {
            span {
                display: block;
                font-size: 0.875em;
                line-height: 1.375em;
                
                &.region {
                    font-style: italic;
                }
            }
        }

        .education-item {
            & + .education-item {
                padding-top: 1.25rem;
            }

            p {
                font-size: 0.875em;
                line-height: 1.375em;
            }

            span {
                display: block;
            }
        }

        .contact {
            p {
                span {
                    display: block;
                }
            }
        }

        .social-links {
            display: flex;
            align-items: center;

            .link {
                & + .link {
                    margin-left: 1rem;
                }

                a {
                    display: block;
                    max-width: 2rem;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

}