.esa-contacts {
    padding-bottom: 2rem;
    &__header {
        border-bottom: 2px solid $dark-teal;
        margin-bottom: 1.5rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 160px), 1fr));
        gap: 2rem;
    }

    &__card {
        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .linkedin {
                width: 1rem;
            }
        }

        &-meta {
            .region {
                font-style: italic;
                color: $dark-gray;
                font-size: $type-size-150;
                line-height: 1.25em;
            }

            .email {
                a {
                    color: $orange;
                    font-weight: 600;
                    font-size: $type-size-100;
                    text-decoration: underline;
                }
            }
        }
    }
}
