.esa-experts {
    padding: 3rem 0;

    .section-header {
        padding-bottom: 1.5rem;
    }

    &__grid {
        display: grid;
        gap: 2rem;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop-small {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
