.landing-sidebar {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    line-height: 1.5em;
    border-bottom: 4px double $teal;
    padding-bottom: 3rem;

    h4 {
        font-weight: bold;
        font-size: clamp(1rem, 1.5vw, 1.125rem);
        line-height: 1.5em;
    }

    p {
        font-size: clamp(0.75rem, 1vw, 0.875rem);
    }

    a {
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }

    .module + .module {
        padding-top: 3rem;
    }

    .contacts {
        h4 {
            padding-bottom: 0.5rem;
        }

        .contact {
            display: flex;
            align-items: center;

            & + .contact {
                padding-top: 1rem;
            }

            .photo {
                aspect-ratio: 1 / 1;
                @include cover-fill-image;
                width: 2.5rem;
                height: 2.5rem;
                flex-shrink: 0;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                img {
                    border-radius: 50%;
                }

                .placeholder {
                    display: block;
                    background: $teal;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                }
            }

            .info {
                padding-left: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.25rem;

                .name {
                    font-weight: bold;
                    font-size: 0.875rem;
                    line-height: 1.125em;

                    a:hover {
                        text-decoration: underline;
                    }
                }

                .position {
                    font-style: italic;
                    color: $dark-gray;
                    font-size: 0.75rem;
                    line-height: 1;
                }
            }
        }
    }

    .social-share {
        .links {
            padding-top: 0.5rem;
            display: flex;
            align-items: center;

            .link + .link {
                margin-left: 1.5rem;
            }

            a {
                display: flex;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        svg {
            object-fit: contain;
            width: 100%;
            height: 100%;

            g,
            path {
                fill: $light-gray;
                transition: all 0.2s ease;
            }

            &:hover {
                g,
                path {
                    fill: $dark-teal;
                }
            }
        }
    }
}
