.leaders-grid {
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 2rem;

    .leader {
        grid-column: span 2;

        // First non-executive after executives starts a new row
        &.executive + .leader:not(.executive) {
            grid-column: 1 / span 2;
        }

        a {
            display: block;
            width: 100%;
        }

        .photo {
            img {
                border-radius: 50%;
            }
        }

        .info {
            padding-top: 0.5rem;
            text-align: center;

            .name {
                h3 {
                    font-weight: bold;
                    color: $dark-teal;
                    font-size: clamp(1rem, 1vw, 1.125rem);
                    line-height: 1.125em;
                    text-wrap: pretty;
                }
            }

            .position {
                padding-top: 0.25rem;

                p {
                    color: $dark-gray;
                    font-size: 0.75rem;
                    line-height: 1.25em;
                }
            }
        }
    }
}
