.page-header {
    gap: 2rem;

    .photo {
        aspect-ratio: 1;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 4;
        }

        @include cover-fill-image;
    }

    .copy {
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include tablet {
            grid-column: 6 / span 4;
            align-self: end;
        }

        @include desktop-small {
            grid-column: 6 / span 7;
            align-self: center;
        }
    }
}
