.leadership-sub-nav {
    padding-bottom: 3rem;

    @include tablet {
        padding-top: 3rem;
        padding-bottom: 6rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        @include tablet {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    a {
        color: $black;
        font-weight: bold;
        display: inline-block;
        padding-bottom: 0.5rem;
        line-height: 1.375em;
        border-bottom: 0.25rem solid transparent;

        @include tablet {
            padding-bottom: 1rem;
        }

        &:hover,
        &.active {
            border-bottom: 0.25rem solid $orange;
        }
    }
}
