.leadership-sub-nav {
    padding-top: 3rem;
    padding-bottom: 6rem;

    ul {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    a {
        color: $black;
        font-weight: bold;
        display: block;
        padding-bottom: 1rem;
        line-height: 1.375em;
        border-bottom: 0.25rem solid transparent;

        &:hover,
        &.active {
            border-bottom: 0.25rem solid $orange;
        }
    }
}
