section.filters {
    padding-bottom: 3rem;

    @include tablet {
        padding-top: 3rem;
    }

    .filters-header {
        padding-bottom: 2rem;
    }

    .alm-filters-container {        
        .alm-filter {
            width: 100%;
            margin-bottom: 1rem;
            max-width: 30rem;

            &--select {
                position: relative;

                &:after {
                    position: absolute;
                    top: 0.75rem;
                    right: 0.5rem;
                    content: '';
                    display: inline-block;
                    width: 1rem;
                    height: 0.5rem;
                    background: url("data:image/svg+xml,%3Csvg width='22px' height='13px' viewBox='0 0 22 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='4' fill='none' fill-rule='evenodd'%3E%3Cg id='down-svgrepo-com' transform='translate(1.000222, 1.000278)' stroke='%2300A69C' stroke-width='4'%3E%3Cpolyline id='Path' transform='translate(10.085739, 5.173763) scale(-1, 1) rotate(91.000000) translate(-10.085739, -5.173763) ' points='5.08573898 -4.82623746 15.085739 5.17376254 5.08573898 15.1737625'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 0 0;
                    background-size: contain;
                }
            }
        }

        select {
            width: 100%;
            max-width: 30rem; 
            height: 2rem;
            padding: 0 1.75rem 0.25rem 0.75rem;
            font-size: 1.25rem;
            border: none;
            border-bottom: 1px solid $light-gray;
            background: $white;
            appearance: none;
            overflow: visible;

            &:active,
            &:focus {
                outline: none;
            }
        }

        .alm-filters--reset {
            width: 100%;

            &:before {
                content: '✕';
                display: inline-block;
                margin-right: 0.5rem;
                color: $medium-gray;
                transition: all 0.2s ease;
            }

            &-button {
                background: transparent;
                border: none;
                padding: 0;
                font-size: 1.25rem;
                color: $medium-gray;
                display: inline-block;
                transition: all 0.2s ease;
            }

            &:hover {
                &:before {
                    color: $dark-gray;
                }

                .alm-filters--reset-button {
                    color: $dark-gray;
                }
            }
        }
    }
}