.projects-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @include tablet {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include desktop-small {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

section.projects {
    align-items: start;

    @include tablet {
        min-height: 50vh;
    }
}

.project {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    background: $charcoal;
    border-radius: 3px;
    transition: all 0.2s ease;

    a {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .photo {
        aspect-ratio: 1 / 1;
        @include cover-fill-image;

        @include tablet-small {
            aspect-ratio: 4 / 3;
        }

        img {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    .info {
        color: $white;
        padding: 2rem;

        a {
            color: $white;

            &:hover {
                color: $white;
            }
        }

        .market {
            padding-bottom: 0.5rem;
            h4 {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.05em;
                font-size: clamp(0.75rem, 0.9vw, 0.875rem);
            }
        }

        .location {
            padding-top: 1rem;
            line-height: 1.25em;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.1em;
                font-size: clamp(0.6125rem, 0.8vw, 0.75rem);
            }
        }
    }

    &:hover {
        background: $dark-teal;
    }
}

.alm-filters-edit {
    display: none;
}

.alm-btn-wrap {
    margin: 0;
    height: 100%;

    .alm-load-more-btn {
        background: $dark-teal;
        font-weight: bold;
        font-size: clamp(0.875rem, 1vw, 1rem);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        height: 3rem;
        line-height: 1em;
        padding: 0 3rem;
        border-radius: 2px;
        margin: 3rem 0;

        @include tablet {
            margin-bottom: 6rem;
        }

        &.done {
            display: none;
        }

        &.loading {
            position: absolute;
            left: calc(50% - 15px);
            top: calc(50% - 15px);
            background: transparent;
            color: transparent;
            border: none;
            box-shadow: none;
            padding: 0;
            display: none;
        }
    }
}

.alm-results-text {
    .no-results {
        padding: 2rem;
        border: 3px dashed $off-white;
        margin-bottom: 6rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            min-height: 50vh;
        }
    }
}
