section.about {
    @include tablet {
        grid-column: 2 / span 5;
        padding-top: 2rem;
    }

    @include desktop-small {
        grid-column: 2 / span 8;
    }

    .content-section {
        & + .content-section {
            padding-top: 2rem;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    figure {
        max-width: 100% !important;
    }
}
