.project-hero {
    .photo {
        grid-column: 1 / -1;
        grid-row: 1;
        z-index: 1;
        aspect-ratio: 4 / 3;
        @include cover-fill-image;

        @include tablet {
            aspect-ratio: unset;
            width: 100%;
            max-height: 70vh;
        }
    }

    .page-header {
        grid-row: 1;
        z-index: 2;
        display: flex;
        align-items: flex-end;
        padding: 2rem 0;

        @include tablet {
            padding: 6rem 0;
        }

        h1 {
            color: $white;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }
    }
}
