section.news {
    padding-bottom: 6rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    .section-header {
        border-top: 4px double $dark-teal;
        padding-top: 4rem;
    }

    .news-slider-wrapper {
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }
}