section.news {
    padding-bottom: 6rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    .section-header {
        border-top: 4px double $dark-teal;
        padding-top: 4rem;
    }

    .news-slider-wrapper {
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .news-item {
        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;

            a {
                display: block;
                width: 100%;
                height: 100%;

            }
        }
        .info {
            padding-top: 2rem;
        }
        .headline {
            a {
                color: $black;
            }
        }

        .excerpt {
            padding-top: 1rem;
        }

        .cta {
            padding-top: 2rem;
        }
    }
}