section.about {
    .headline {
        padding: clamp(4rem, 5vh, 8rem) 0;
        text-align: center;

        @include desktop-small {
            padding: clamp(6rem, 15vh, 12rem) 0;
            grid-column: 3 / span 10;
        }

        h1 {
            font-size: clamp(2rem, 5vw, 4.5rem);
            font-weight: 100;
            line-height: 1.125em;
            letter-spacing: 0.02em;
            color: $dark-gray;
    
            em {
                color: $orange;
                font-style: normal;
            }
        }
    }

    .photo {
        grid-column: 1 / -1;
        
        @include cover-fill-image;
    }
    

}