section.eos {
    @include section-spacing;

    .section-header {
        text-align: center;

        @include desktop-small {
            grid-column: 10 / span 4;
            grid-row: 1;
            padding-top: 6rem;
        }        
    }


    .owner {
        text-align: center;

        & > * {
            max-width: 350px;
            margin: 0 auto;
        }

        & + .owner {
            padding-top: 3rem;

            @include desktop-small {
                padding-top: 0;
            }
        }

        @include desktop-small {
            &-1 {
                grid-column: 2 / span 4;
                grid-row: 1;
            }

            &-2 {
                grid-row: 1;
                grid-column: 6 / span 4;
            }
        }

        .photo {
            display: flex;
            justify-content: center;
            img {
                border-radius: 50%;
            }
        }

        .info {
            padding-top: 1rem;

            .name {
                h3 {
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;

                    a {
                        color: $black;
                    }
                }
            }

            .position {
                padding: 0.5rem 0 1rem 0;

                h4 {
                    font-style: italic;
                    font-size: 0.875rem;
                    line-height: 1.25em;
                }
            }
        }

        .cta {
            padding-top: 1rem;
            display: flex;
            justify-content: center;
        }
    }
}