section.join-us {
    padding-bottom: 4.5rem;

    @include desktop-small {
        padding-bottom: 9rem;
    }

    .section-header {
        border-top: 4px double $teal;
        padding-top: 4.5rem;

        @include desktop-small {
            padding-top: 9rem;
        }
    }

    .info {
        padding-top: 3rem;

        .sub-headline {
            padding-bottom: 1.5rem;
            @include desktop-small {
                padding-bottom: 0;
                grid-column: 2 / span 4;                
            }

            h3 {

            }
        }

        .copy {
            @include desktop-small {
                grid-column: 6 / span 5;        
            }
        }

        .cta {
            padding-top: 2rem;
        }
    }
}