section.news {
    @include section-spacing;

    .posts {
        display: grid;
        gap: 6rem 3rem;
        
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        .photo {
            a {
                display: block;
                @include aspect-ratio(4, 3);
                @include cover-fill-image;
            }
        }

        .info {
            .headline {
                padding: 2rem 0;
                a {
                    color: $black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .cta {
                padding-top: 2rem;

                @include desktop-small {
                    padding-top: 4rem;
                }
            }
        }
    }
}