.top-btn {
    position: fixed;
    bottom: -2rem;
    right: 2rem;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-in;

    a {
        display: block;
        background: $light-green;
        padding: 0.5rem;
        border-radius: 2px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

        img {
            
            width: 1rem;
            height: 1rem;
            object-fit: contain;
        }
    }

}

body.show-top-btn {
    .top-btn {
        bottom: 2rem;
        opacity: 1;
    }
}

.cta {
    display: flex;

    .btn {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding: 1rem 1.5rem 0.875rem;
        border: 2px solid $white;
        font-size: clamp(1rem, 1.2vw, 1.25rem);
        transition: all 0.3s ease-in;

        @include tablet {
            padding: 1.5rem 2rem 1.375rem;
        }

        &:after {
            content: '>>';
            display: inline-block;
            font-size: clamp(0.875rem, 0.9vw, 1rem);
            padding-left: 0.5rem;
        }
    
        &-green {
            background: $light-green;
            color: $white;

            &:hover {
                color: $black;
            }
        }

        &-teal {
            background: $dark-teal;
            color: $white;

            &:hover {
                color: $black;
            }
        }

        &-white-green {
            padding: 0;
            color: $light-green;
        }
    }

    .underline {
        border-bottom: 3px solid;
        display: inline-block;
    }

    
}

.back {
    .cta {
        .btn {
            &:after {
                display: none;
            }

            &:before {
                content: '«';
                display: inline-block;
                font-size: clamp(0.875rem, 0.9vw, 1rem);
                padding-right: 0.5rem;
            }
        }
    }
}