.expert {
    .region {
        em {
            display: inline-block;
            font-size: clamp(0.75em, 1vw, 0.875rem);
        }
    }

    .social {
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
    }

    .linkedin {
        width: 1.5rem;
        height: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}