section.news {
    padding: 4rem 0;
}

.news-item {
    .photo {
        aspect-ratio: 16 / 9;
        @include cover-fill-image;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .info {
        padding-top: 2rem;
    }

    em.date {
        display: block;
        padding-bottom: 0.5rem;
        font-size: clamp(0.75rem, 1vw, 0.875rem);
    }

    .headline {
        a {
            color: $black;
        }
    }

    .excerpt {
        padding-top: 1rem;
    }

    .cta {
        padding-top: 2rem;

        .underline {
            display: inline-block;
            padding-bottom: 0.25rem;
            font-weight: bold;
            border-bottom-width: 2px;
        }
    }
}
