.profile {
    text-align: center;

    .photo {
        aspect-ratio: 1 / 1;
        @include cover-fill-image;
        max-width: 12rem;
        margin: 0 auto;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        img {
            border-radius: 50%;
        }
    }

    .info {
        padding-top: 1rem;

        a {
            color: $dark-teal;

            &:hover {
                text-decoration: underline;
            }
        }

        .name {
            h3 {
                font-weight: bold;
                font-size: clamp(0.875rem, 1.1vw, 1rem);
            }
        }
        .vital {
            padding-top: 0.375rem;

            p {
                font-size: clamp(0.875rem, 1vw, 1rem);
            }
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: center;

            .phone + .email {
                padding-left: 0.5rem;
                border-left: 1px solid $black;
                margin-left: 0.5rem;
            }
        }
    }
}
