.sub-nav {
    display: none;

    @include desktop-small {
        display: grid;
    }

    &.bottom {
        padding-bottom: 3rem;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    li {
        border-top: 1px solid #d5d5d5;
        padding: 1.5rem 1.5rem;

        @include desktop-medium {
            padding: 1.5rem 2rem;
        }
        
        &:last-of-type {
            padding-right: 0;
        }
    }

    a {
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 0.05em;
    }
}