.tab-links {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    .link {
        width: 50%;
        margin-bottom: 1.25rem;

        @include tablet-small {
            width: 33.3333%;
        }

        @include tablet {
            width: auto;
            margin-bottom: 0;
        }

        & + .link {
            @include tablet {
                margin-left: 2rem;
            }
        }

        a {
            display: inline-block;
            color: $black;
            font-weight: bold;
            font-size: clamp(0.8125rem, 0.9vw, 1rem);
            padding-bottom: 0.25rem;
            border-bottom: 4px solid transparent;

            @include tablet {
                padding-bottom: 0.75rem;
            }

            &:hover,
            &.active {
                border-bottom: 4px solid $orange;
            }
        }
    }
}

.tab-content {
    padding-top: 1rem;
    @include tablet {
        padding-top: 3rem;
    }

    .tab {
        display: none;

        &.active {
            display: block;
        }

        &-flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include tablet {
                .photo {
                    order: -1;
                }

                .info {
                    flex: 1;
                    padding-left: 3rem;
                    padding-bottom: 0;
                }
            }
        }

        .info {
            padding-bottom: 1rem;

            .headline {
                padding-bottom: 2rem;
                h4 {
                    font-weight: bold;
                    font-size: clamp(1rem, 1.1vw, 1.125rem);
                }
            }
        }
    }
}
