section.additional-services {
    padding-bottom: 8rem;

    .section-header {
        padding-bottom: 1rem;
    }

    .services-list {
        @include tablet-small {
            columns: 2;
            column-gap: 2rem;
        }
        
        @include tablet {
            columns: 3;
        }

        @include desktop-small {
            columns: 4;
        }

        .link {
            margin-bottom: 0.5rem;

            @include desktop-small {
                padding-right: 2rem;
            }

            a {
                font-size: clamp(0.8125rem, 1vw, 0.9375rem);
                color: $medium-blue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}