section.main-services {

    .service-list {
        background: $medium-blue;
        color: $white;
        padding: 2rem;
        margin-bottom: 2rem;
        
        @include tablet-small {
            columns: 2;
        }

        @include tablet {
            padding: 4rem;
            margin-bottom: 4rem;
        }

        .link {
            padding-bottom: 1.5rem;

            a {
                font-size: clamp(1.125rem, 1.2vw, 1.25rem);
                display: flex;
                align-items: center;
                line-height: 1.25em;
                color: $white;

                .label {
                    display: block;
                    padding-left: 1rem;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    width: 1.5rem;

                }

                svg g,
                svg path {
                    fill: $white;
                    transition: all 0.2s ease;
                }
                

                &:hover {
                    color: $light-green;

                    svg g,
                    svg path {
                        fill: $light-green;
                    }
                }
            }
        }
    }
}