
.service {
    
    & + .service {
        .header {
            margin-top: 4rem;
            border-top: 4px double $teal;
            padding-top: 4rem;

            @include desktop-medium {
                margin-top: 6rem;
                padding-top: 6rem;
            }
        }
    }

    &:last-of-type {
        margin-bottom: 12rem;
    }

    .header {
        h3 {
            a {
                display: flex;
                align-items: center;

                &:hover {
                    .label {
                        border-bottom: 4px solid $black;
                    }
                }
            }
        }

        .icon {
            display: block;
            width: 3rem;
            height: 3rem;
            margin-right: 0.5rem;

            @include tablet {
                width: 5rem;
                height: 5rem;
            }

            svg {
                width: 100%;
                display: block;
                object-fit: contain;
                height: 100%;

                
                * {
                    fill: $dark-teal;
                }
            }
        }

        .label {
            display: block;
            color: $black;
            padding-left: 0.5rem;
            font-size: clamp(1.25rem, 1.7vw, 1.5rem);
            line-height: 1em;
            border-bottom: 4px solid transparent;

            @include tablet {
                font-size: clamp(2rem, 2.5vw, 2.75rem);
            }
        }
    }
}

.sub-services {
    padding-top: 2rem;

    @include tablet {
        padding-top: 4rem;
    }

    ul {
        @include tablet {
            columns: 2;
            column-gap: 2rem;
        }

        @include desktop-small {
            columns: 3;
        }

        li {
            break-inside: avoid;
            margin-bottom: 1rem;
            line-height: 1.25em;

            @include desktop-small {
                padding-right: 4rem;
            }

            a {
                color: $black;

                &:hover {
                    text-decoration: none;
                    color: $dark-teal;
                }
            }
        }
    }
}
