.sub-services {
    padding-top: 1rem;

    ul {
        list-style: disc;
        padding-left: 1.125rem;

        @include tablet {
            columns: 2;
            column-gap: 2rem;
        }

        @include desktop-small {
            columns: 3;
        }

        li {
            margin-bottom: 0.5rem;
            line-height: 1.25em;
            
            &::marker {
                color: $medium-blue;
            }

            a {
                color: $medium-blue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.service {
    margin-bottom: 8rem;

    & > * {
        @include desktop-small {
            grid-column: 2 / span 10;
        }
    }

    &:last-of-type {
        margin-bottom: 12rem;
    }

    .header {
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $medium-blue;

        h3 {
            display: flex;
            align-items: center;
        }
        .icon {
            display: block;
            svg * {
                fill: $medium-blue;
            }
        }

        .label {
            display: block;
            color: $medium-blue;
            padding-left: 0.5rem;
        }
    }
}